body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/R.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 0px;
    
}

main {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px 40px; /* Increased right padding */
    background-color: #5a70f096;
    border-radius: 8px;
    box-shadow: 5px 4px 8px #272626d2;
}
main h2{
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    
}
form {
    display: flex;
    flex-direction: column;
    padding-right: 20px; /* Additional padding for the form */
}
label {
    margin-top: 15px;
}
input[type="text"],input[type="email"],input[type="number"],select,textarea {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #535050;
}
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3700ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0aa7e6e3;
}
fieldset {
    border: none;
    margin-top: 20px;
}

legend {
    font-weight: bold;
}